@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value;
}

%img-cover{
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}