@media (min-width: 992px) and (max-width: 1199px) {
  div.bx_testimonial_item{
    width: 290px;
  }
}

@media screen and (max-width:991px) {
  section .bx-card.bx_card_item h3 {
    font-size: 28px;
  }
  form.iv_bx_filter--content {
    justify-content: center;
    .form-group{
      margin: 8px 6px;
      &:nth-of-type(n+3) {
        width: 30%;
      }
    }
  }
  div.testimonials_list > div {
    padding: 0 15px;
  }
  .bx_testimonial_item{
    height: 100%;
  }
  #testimonials > .container > h2{
    left: 15px !important;
  }
  div.main_hero{
    height: 463px;
    /*.logo img {
      max-width: 130px;
    }*/
    .bx_card_dark {
      margin-top: 35px;
    }
  }
  p{
    font-size: 12px !important;
  }
  .bx_title{
    span{
      font-size: 12px;
    }
    h2 {
      font-size: 25px;
      margin-bottom: 19px;
    }
    p{
      font-size: 12px;
    }
  }
  section .bx-card{
    padding: 20px;
    span{
      font-size: 14px;
    }
    h3{
      font-size: 30px;
    }
    h4{
      font-size: 16px;
    }
  }
}

@media screen and (max-width:767px) {
  .main_nav .iv_nav_desk{
    display: none !important;
  }
  .bx-card.bx_card_item{
    margin: 0 0 30px;
  }
  .main_hero{
    background: url("../images/img-slide-mobile.jpg") no-repeat center/cover;
  }
  .bx_testimonial_item {
    margin-bottom: 20px;
    height: auto;
  }
  @media screen and (min-width:576px) {
    div.bx_list > div {
      padding: 15px;
    }
    div.bx_testimonial_item {
      width: 238px;
    }
  }
}

@media screen and (max-width:575px) {
  .bx_contact_info{
    &>div{
      width: 100%;
      flex-basis: auto;
      text-align: left !important;
      &>div{
        width: auto !important;
        margin: 0 auto 20px;
      }
    }
  }
  .frm_contact button[type="submit"]{
    display: block;
    margin: 0 auto;
  }
  .bx_testimonial_item.slick-current.slick-center{
    opacity: 1 !important;
  }
  .main_nav{
    ul{
      display: block;
      text-align: center;
      margin-bottom: 37px;
      li{
        display: block !important;
        padding: 20px;
        a {
          font-size: 14px;
          padding: 10px 10px;
          display: inline-block;
        }
      }
    }
  }
  a.logo{
    display: block;
    text-align: center;
    img{
      max-width: 153px;
    }
  }
  div.main_hero {
    height: auto;
  }
  .frm_inline .form-group {
    margin-bottom: 0;
  }
}

@media screen and (max-width:480px) {
  .main_nav ul li {
    margin: 11px 0;
  }
  form.iv_bx_filter--content {
    .form-group{
      width: 100% !important;
    }
  }
}
