
.bx_title{
  margin-bottom: 35px;
  span{
    color: $gray_light_primary;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 15px;
    font-weight: 500;
    letter-spacing: 0.2rem;
  }
  h2{
    color: $black;
    font-size: 35px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 23px;
  }
  p{
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 0;
  }
}



header.entry-header{
  h1{
    font-size: 35px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 23px;
    color: $black;
    &::after{
      content: "";
      background: $green_theme;
      width: 100px;
      height: 3px;
      display: block;
      margin: 20px auto 35px;
    }
  }
}

div.ere-heading{
  &::after{
    display: none;
  }
  h2{
    font-size: 35px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 23px;
    color: $black;
    text-align: center;
    text-transform: uppercase;
    &::after{
      content: "";
      background: $green_theme;
      width: 100px;
      height: 3px;
      display: block;
      margin: 20px auto 35px;
    }
  }
}