/*fonts*/
$title_font: 'Open Sans', sans-serif;
/*color*/
$white: #fff;
$black: #000;
$red_theme: #c82021;
$purple_theme: #5800ff;
$blue_theme_primary: #0500ff;
$blue_theme_secondary: #0300a2;
$gray_light: #f4f4f4;
$gray_light_primary: #bdbdbd;
$gray_dark: #666666;

$green_theme : #5d9532;
$green_theme_primary : #afc439;
$defaul_gradient : linear-gradient(60deg, $green_theme, $green_theme_primary );
$pink_gradient : linear-gradient(60deg, #d91652 0%,#780970 100%);