/*fonts*/
/*color*/
.bx_testimonial_item .hd_item .bx_img figure img, .iv_xts_hd img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover; }

.bx_title {
  margin-bottom: 35px; }
  .bx_title span {
    color: #bdbdbd;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 15px;
    font-weight: 500;
    letter-spacing: 0.2rem; }
  .bx_title h2 {
    color: #000;
    font-size: 35px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 23px; }
  .bx_title p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 0; }

ul {
  padding-left: 0; }
  ul li {
    list-style: none; }

a {
  transition: .3s ease-in-out; }
  a:hover, a:focus {
    outline: none;
    box-shadow: none;
    text-decoration: none; }

@media (min-width: 992px) and (max-width: 1199px) {
  div.bx_testimonial_item {
    width: 290px; } }
@media screen and (max-width: 991px) {
  div.testimonials_list > div {
    padding: 0 15px; }

  .bx_testimonial_item {
    height: 100%; }

  #testimonials > .container > h2 {
    left: 15px !important; }

  div.main_hero {
    height: 463px;
    /*.logo img {
      max-width: 130px;
    }*/ }
    div.main_hero .bx_card_dark {
      margin-top: 35px; }

  p {
    font-size: 12px !important; }

  .bx_title span {
    font-size: 12px; }
  .bx_title h2 {
    font-size: 25px;
    margin-bottom: 19px; }
  .bx_title p {
    font-size: 12px; }

  section .bx-card {
    padding: 20px; }
    section .bx-card span {
      font-size: 14px; }
    section .bx-card h3 {
      font-size: 30px; }
    section .bx-card h4 {
      font-size: 16px; } }
@media screen and (max-width: 767px) {
  .bx_testimonial_item {
    margin-bottom: 20px;
    height: auto; } }
@media screen and (max-width: 767px) and (min-width: 576px) {
  div.bx_list > div {
    padding: 15px; }

  div.bx_testimonial_item {
    width: 238px; } }
@media screen and (max-width: 575px) {
  .bx_contact_info > div {
    width: 100%;
    flex-basis: auto;
    text-align: left !important; }
    .bx_contact_info > div > div {
      width: auto !important;
      margin: 0 auto 20px; }

  .frm_contact button[type="submit"] {
    display: block;
    margin: 0 auto; }

  .bx_testimonial_item.slick-current.slick-center {
    opacity: 1 !important; }

  .main_nav ul {
    display: block;
    text-align: center;
    margin-bottom: 37px; }
    .main_nav ul li a {
      font-size: 14px;
      padding: 10px 10px; }

  a.logo {
    display: block;
    text-align: center; }

  div.main_hero {
    height: auto; }

  .frm_inline .form-group {
    margin-bottom: 0; } }
@media screen and (max-width: 480px) {
  .main_nav ul li {
    margin: 11px 0; } }
body {
  font-family: 'Roboto', sans-serif; }

.main_hero {
  background-size: cover !important;
  height: 600px;
  overflow: hidden;
  padding: 20px 10px;
  position: relative;
  /*.logo{
    img{
      max-width: 178px;
    }
  }*/ }
  .main_hero::before {
    content: '';
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; }
  .main_hero > div {
    z-index: 2;
    position: relative; }
  .main_hero .nav-tabs {
    border-bottom: none;
    margin-bottom: 25px; }
    .main_hero .nav-tabs .nav-item {
      padding: 0 2rem 0 0; }
      .main_hero .nav-tabs .nav-item .nav-link {
        font-size: 14px;
        color: #fff;
        padding: 0.5rem 0; }
        .main_hero .nav-tabs .nav-item .nav-link.active {
          background: transparent;
          border: none;
          border-bottom: 4px solid #fff !important;
          font-weight: 700; }
        .main_hero .nav-tabs .nav-item .nav-link:hover, .main_hero .nav-tabs .nav-item .nav-link:focus {
          border-color: transparent; }
  .main_hero .tab-content .tab-pane h2 {
    font-size: 18px;
    color: #fff; }
  .main_hero .tab-content .tab-pane p {
    font-size: 14px;
    color: #fff; }

.main_nav ul li {
  display: inline-block; }
  .main_nav ul li a {
    color: #fff;
    font-size: 16px;
    padding: 10px 18px;
    font-weight: 400; }
    .main_nav ul li a:hover {
      color: #e6e6e6; }
  .main_nav ul li:last-child a {
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 10px 30px; }
    .main_nav ul li:last-child a:hover {
      color: #666666;
      background: #fff; }

.frm_search input.form-control {
  border-radius: 0; }
.frm_search .input-group-text {
  background: transparent;
  padding: 0;
  border: none; }
  .frm_search .input-group-text button {
    background: #5d9532;
    padding: 0.375rem 0.75rem;
    color: #fff;
    border: none;
    font-size: 16px; }

.btn_default {
  background: #5d9532;
  color: #fff;
  font-size: 14px;
  border: none;
  box-shadow: none;
  padding: 10px 20px; }
  .btn_default:hover {
    outline: none;
    box-shadow: none;
    background: #456f25; }

.frm_inline .form-group {
  width: 70%; }
  .frm_inline .form-group input {
    width: 100% !important;
    padding: 8px 20px;
    border-radius: 0; }

section.sec_default {
  padding: 110px 0;
  background-size: cover; }
section.sec_medium {
  padding: 80px 0; }
section.fullw_sec {
  background-attachment: fixed !important; }
  section.fullw_sec .bx-card {
    border: none;
    text-align: left;
    padding: 40px 50px; }

.bg_gray {
  background: #f4f4f4; }

section .bx-card {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #5d9532;
  box-shadow: 0 0 10px rgba(102, 102, 102, 0.1);
  padding: 30px;
  text-align: center; }
  section .bx-card.bx_card_item span {
    margin-bottom: 10px;
    font-size: 16px;
    background: #ebebeb;
    display: inline-block;
    padding: 6px 20px;
    border-radius: 50px;
    line-height: 1; }
  section .bx-card.bx_card_item h3 {
    font-size: 40px;
    font-weight: 900;
    margin: 18px 0;
    line-height: 1; }
    section .bx-card.bx_card_item h3::after {
      content: '';
      background: #5d9532;
      width: 80px;
      height: 4px;
      border-radius: 20px;
      display: block;
      margin: 20px auto; }
  section .bx-card.bx_card_item p {
    font-size: 16px; }
  section .bx-card.bx_card_item .bx_desc_tarif {
    min-height: 165px;
    display: flex;
    align-items: center;
    justify-content: center; }
    section .bx-card.bx_card_item .bx_desc_tarif li {
      color: #666666; }
  section .bx-card.bx_card_item.bg_gradient span {
    color: #000 !important; }
  section .bx-card.bx_card_item.bg_gradient .bx_desc_tarif li {
    color: #fff; }

.bg_gradient {
  background: linear-gradient(60deg, #5d9532, #afc439) !important; }
  .bg_gradient p, .bg_gradient h2, .bg_gradient h3, .bg_gradient h4, .bg_gradient span {
    color: #fff !important; }
    .bg_gradient p:after, .bg_gradient h2:after, .bg_gradient h3:after, .bg_gradient h4:after, .bg_gradient span:after {
      background: #fff !important; }

.bx_card_dark {
  background: rgba(0, 0, 0, 0.5);
  padding: 15px 30px; }

.bx_list_icn {
  margin: 0 0 40px; }
  .bx_list_icn li {
    display: flex;
    align-items: center;
    margin-bottom: 20px; }
    .bx_list_icn li span {
      width: 40px;
      text-align: center;
      margin-bottom: 0;
      color: #bdbdbd; }
    .bx_list_icn li p {
      padding-left: 15px;
      margin-bottom: 0; }

#testimonials {
  background: #fff;
  background-attachment: fixed;
  padding: 0 0 60px;
  position: relative; }
  #testimonials > .container {
    position: relative;
    padding-top: 100px; }
    #testimonials > .container > h2 {
      position: absolute;
      left: 30px;
      top: 0;
      background: #5d9532;
      font-size: 19px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      padding: 10px 20px;
      line-height: 1;
      font-weight: 700; }

.bx_testimonial_item {
  background: #f4f4f4;
  width: 351px;
  margin-right: 30px;
  padding: 20px; }
  .bx_testimonial_item:not(.slick-active) {
    opacity: 0; }
  .bx_testimonial_item .hd_item {
    display: table;
    width: 100%; }
    .bx_testimonial_item .hd_item .bx_img {
      display: table-cell;
      width: 40px;
      vertical-align: middle; }
      .bx_testimonial_item .hd_item .bx_img figure {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden; }
      .bx_testimonial_item .hd_item .bx_img + div {
        display: table-cell;
        padding-left: 21px; }
        .bx_testimonial_item .hd_item .bx_img + div h3 {
          font-size: 20px;
          color: #5d9532;
          margin-bottom: 0;
          text-transform: uppercase; }
        .bx_testimonial_item .hd_item .bx_img + div p {
          font-size: 12px;
          color: #c5c5c5; }
  .bx_testimonial_item > p {
    font-size: 12px;
    color: #666666; }

.testimonials_list > div {
  padding: 0 30px; }

.frm_contact {
  margin-bottom: 30px; }
  .frm_contact label {
    font-size: 16px;
    color: #666666;
    font-weight: 700; }
    .frm_contact label span {
      color: #c82021; }
  .frm_contact input, .frm_contact textarea {
    background: #fafafa;
    color: #666;
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 10px 15px; }
  .frm_contact small {
    font-size: 16px;
    color: #666666;
    display: block;
    margin-bottom: 20px; }
    .frm_contact small span {
      color: #c82021;
      font-weight: 700; }
  .frm_contact button[type="submit"] {
    background: #5d9532;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.16rem;
    padding: 10px 25px;
    border: none;
    box-shadow: none;
    border-radius: 0; }
    .frm_contact button[type="submit"]:hover {
      background: #456f25; }
    .frm_contact button[type="submit"]:focus {
      outline: none;
      box-shadow: none; }

.bx_subtitle h4 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  color: #444444;
  line-height: 1;
  margin-bottom: 30px;
  text-align: center; }
  .bx_subtitle h4::before {
    content: "";
    background: #5d9532;
    width: 60px;
    height: 3px;
    display: block;
    margin: 0 auto 30px; }

.bx_contact_info div[class*="col"] {
  padding: 0; }
.bx_contact_info h3 {
  color: #5d9532;
  font-size: 15px;
  margin-bottom: 0;
  font-weight: 700; }
.bx_contact_info p {
  color: #929292;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.5;
  margin: 0; }
.bx_contact_info .icn_wrapper {
  width: 67px;
  text-align: center; }
  .bx_contact_info .icn_wrapper span {
    border: 2px solid #5d9532;
    display: block;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    margin: 0 auto; }
    .bx_contact_info .icn_wrapper span .svg-inline--fa {
      font-size: 20px;
      color: #5d9532; }

footer {
  background: #5d9532;
  padding: 80px 0 60px;
  color: #fff;
  position: relative; }
  footer .btn_up {
    color: #fff;
    font-size: 23px;
    background: #456f25;
    border: none;
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 0 13px; }
    footer .btn_up:hover, footer .btn_up:focus {
      outline: none;
      box-shadow: none; }
    footer .btn_up:hover {
      background: #fff;
      color: #5d9532; }
  footer h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 26px;
    margin-bottom: 40px; }
  footer ul {
    margin-bottom: 40px; }
    footer ul li {
      display: inline-block;
      padding: 0 10px; }
      footer ul li a {
        display: block;
        border: 2px solid #fff;
        height: 45px;
        width: 45px;
        line-height: 45px; }
        footer ul li a .svg-inline--fa {
          font-size: 20px;
          color: #fff; }
        footer ul li a:hover {
          background: #fff; }
          footer ul li a:hover .svg-inline--fa {
            color: #5d9532; }
  footer p {
    font-size: 14px; }

section#contact {
  background: #f2f5ef; }
  section#contact .bx_title {
    text-align: center; }
    section#contact .bx_title h2::after {
      content: "";
      background: #5d9532;
      width: 100px;
      height: 3px;
      display: block;
      margin: 20px auto 0; }

.iv_bx_filter {
  background: #666666;
  padding: 30px 0; }
  .iv_bx_filter--content {
    justify-content: space-between;
    background: #505050;
    padding: 20px 30px; }
    .iv_bx_filter--content .form-group {
      width: 30%; }
      .iv_bx_filter--content .form-group:nth-of-type(n+3) {
        width: 13%; }
      .iv_bx_filter--content .form-group .form-control {
        width: 100%; }
    .iv_bx_filter--content button[type="submit"] {
      cursor: pointer; }
      .iv_bx_filter--content button[type="submit"] .svg-inline--fa {
        margin-right: 5px; }

.iv_xts {
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  margin-bottom: 35px; }
  .iv_xts_hd {
    position: relative;
    height: 262px;
    width: 100%;
    overflow: hidden; }
    .iv_xts_hd::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 50%;
      z-index: 2;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)); }
    .iv_xts_hd img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1; }
    .iv_xts_hd span {
      position: absolute;
      bottom: 5px;
      z-index: 3;
      color: #fff; }
      .iv_xts_hd span.iv_xts_price {
        font-size: 16px;
        font-weight: bold;
        left: 15px; }
      .iv_xts_hd span.iv_xts_tag {
        font-size: 12px;
        font-weight: 300;
        right: 15px;
        text-transform: uppercase; }
  .iv_xts_content {
    border: 1px solid #e4e4e4;
    padding: 15px 0 0;
    border-radius: 0 0 8px 8px; }
    .iv_xts_content_top {
      padding: 5px 20px; }
      .iv_xts_content_top h3 {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        height: 64px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        align-items: center; }
      .iv_xts_content_top span {
        color: #bfbfbf;
        font-size: 14px;
        margin-bottom: 20px;
        display: block; }
      .iv_xts_content_top ul {
        display: block;
        text-align: left; }
        .iv_xts_content_top ul li {
          display: inline-block;
          font-size: 14px;
          color: #000;
          line-height: 1;
          margin-bottom: 7px;
          position: relative; }
          .iv_xts_content_top ul li::after {
            content: '|';
            display: inline-block;
            color: #bdbdbd;
            margin: 0 7px; }
    .iv_xts_content_ftr {
      border-top: 1px solid #e4e4e4;
      padding: 10px;
      display: flex;
      align-items: center;
      margin: 0 20px; }
      .iv_xts_content_ftr .ftr_left {
        width: 50%;
        text-align: left; }
        .iv_xts_content_ftr .ftr_left a {
          background: #ebebeb;
          width: 30px;
          display: inline-block;
          height: 30px;
          line-height: 30px;
          text-align: center;
          border-radius: 50%;
          color: #000; }
          .iv_xts_content_ftr .ftr_left a:hover {
            background: #000;
            color: #fff; }
      .iv_xts_content_ftr .ftr_right {
        width: 50%;
        text-align: right; }
        .iv_xts_content_ftr .ftr_right p {
          margin-bottom: 0;
          font-size: 14px;
          color: #bdbdbd; }

/*# sourceMappingURL=general.css.map */
