@import "var";
@import "mixin";
@import "text";
@import "reset";
@import "responsive";
body{font-family: 'Roboto', sans-serif;}
.main_hero{
  background-size: cover!important;
  height: 478px;
  overflow: hidden;
  padding: 20px 10px;
  position: relative;
  &::before{
    content: '';
    background: linear-gradient(to bottom, rgba($black,0.5), rgba($black,0.0));
    height: 22%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  &>div{
    z-index: 2;
    position: relative;
  }
  /*.logo{
    img{
      max-width: 178px;
    }
  }*/
  .nav-tabs{
    border-bottom: none;
    margin-bottom: 25px;
    .nav-item{
      padding: 0 2rem 0 0;
      .nav-link{
        font-size: 14px;
        color: $white;
        padding: 0.5rem 0;
        &.active{
          background: transparent;
          border: none;
          border-bottom: 4px solid $white !important;
          font-weight: 700;
        }
        &:hover, &:focus{
          border-color: transparent;
        }
      }
    }
  }
  .tab-content{
    .tab-pane{
      h2{
        font-size: 18px;
        color: $white;
      }
      p{
        font-size: 14px;
        color: $white;
      }
    }
  }
}
.main_nav{
 ul{
   li{
     display: inline-block;
     a{
       color: $white;
       font-size: 16px;
       padding: 10px 18px;
       font-weight: 400;
       &:hover{
         color: darken($white, 10%);
       }
     }
     &:last-child{
       a{
         border: 1px solid $white;
         border-radius: 3px;
         padding: 10px 30px;
         &:hover{
           color: $gray_dark;
           background: $white;
         }
       }
     }
   }
  }
 }
.frm_search{
  input.form-control{
    border-radius: 0;
  }
  .input-group-text{
    background: transparent;
    padding: 0;
    border: none;
    button{
      background: $green_theme;
      padding: 0.375rem 0.75rem;
      color: $white;
      border: none;
      font-size: 16px;
    }
  }
}

.btn_default, .btn-submit-property{
  background: $green_theme;
  color: $white;
  font-size: 14px;
  border: none;
  box-shadow: none;
  padding: 10px 20px;
  &:hover{
    outline: none;
    box-shadow: none;
    background: darken($green_theme, 10%);
  }
}
.frm_inline{
  .form-group{
    width: 70%;
    input{
      width: 100% !important;
      padding: 8px 20px;
      border-radius: 0;
    }
  }
}

section{
  &.sec_default {
    padding: 80px 0;
    background-size: cover;
  }
  &.sec_medium{
    padding: 80px 0;
  }
  &.fullw_sec{
    background-attachment: fixed !important;
    .bx-card{
      border: none;
      text-align: left;
      padding: 40px 50px;
    }
  }
}

.bg_gray{
  background: $gray_light;
}

section{
  .bx-card{
    background: $white;
    border-radius: 5px;
    border: 1px solid $green_theme;
    box-shadow:  0 0 10px rgba($gray_dark,0.1);
    padding: 30px;
    text-align: center;
    &.bx_card_item{
      span{
        margin-bottom: 10px;
        font-size: 16px;
        background: #ebebeb;
        display: inline-block;
        padding: 6px 20px;
        border-radius: 50px;
        line-height: 1;
      }
      h3{
        font-size: 40px;
        font-weight: 900;
        margin: 18px 0;
        line-height: 1;
        &::after{
          content: '';
          background: $green_theme;
          width: 80px;
          height: 4px;
          border-radius: 20px;
          display: block;
          margin: 20px auto;
        }
      }
      p{
        font-size: 16px;
      }
      .bx_desc_tarif{
        min-height: 165px;
        display: flex;
        align-items: center;
        justify-content: center;
        li{
          color: $gray_dark;
        }
      }
      &.bg_gradient{
        span{
          color: $black !important;
        }
        .bx_desc_tarif{
          li{
            color: $white;
          }
        }
      }
    }
  }
}

.bg_gradient{
  background: linear-gradient(60deg, $green_theme, $green_theme_primary ) !important;
  p, h2,h3,h4,span{
    color: $white !important;
    &:after{
      background: $white !important;
    }
  }
}

.bx_card_dark{
  background: rgba($black,0.5);
  padding: 15px 30px;
}

.bx_list_icn{
  margin: 0 0 40px;
  li{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    span{
      width: 40px;
      text-align: center;
      margin-bottom: 0;
      color: $gray_light_primary;
    }
    p{
      padding-left: 15px;
      margin-bottom: 0;
    }
  }
}

#testimonials{
  background: $white;
  background-attachment: fixed;
  padding: 0 0 60px;
  position: relative;
  &>.container{
    position: relative;
    padding-top: 100px;
    &>h2{
      position: absolute;
      left: 30px;
      top: 0;
      background: $green_theme;
      font-size: 19px;
      color: $white;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      padding: 10px 20px;
      line-height: 1;
      font-weight: 700;
    }
  }
}


.bx_testimonial_item{
  background: $gray_light;
  width: 351px;
  margin-right: 30px;
  padding: 20px;
  &:not(.slick-active){
    opacity: 0;
  }
  .hd_item{
    display: table;
    width:100%;
    .bx_img{
      display: table-cell;
      width: 40px;
      vertical-align: middle;
      figure{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        img{
          @extend %img-cover;
        }
      }
      & + div{
        display: table-cell;
        padding-left: 21px;
        h3{
          font-size: 20px;
          color: $green_theme;
          margin-bottom: 0;
          text-transform: uppercase;
        }
        p{
          font-size: 12px;
          color: #c5c5c5;
        }
      }
    }
  }
  &>p{
    font-size: 12px;
    color: #666666;
  }
}
.testimonials_list{
  &>div{
    padding: 0 30px;
  }
}


.frm_contact{
  margin-bottom: 30px;
  label{
    font-size: 16px;
    color: $gray_dark;
    font-weight: 700;
    span{
      color: $red_theme;
    }
  }
  input, textarea{
    background:#fafafa;
    color: #666;
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 10px 15px;
  }
  small{
    font-size: 16px;
    color: $gray_dark;
    display: block;
    margin-bottom: 20px;
    span{
      color: $red_theme;
      font-weight: 700;
    }
  }
  button[type="submit"]{
    background: $green_theme;
    font-size: 14px;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 0.16rem;
    padding: 10px 25px;
    border: none;
    box-shadow: none;
    border-radius: 0;
    &:hover{
      background: darken($green_theme,10%);
    }
    &:focus{
      outline: none;
      box-shadow: none;
    }
  }
}
.bx_subtitle{
  h4{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    color: #444444;
    line-height: 1;
    margin-bottom: 30px;
    text-align: center;
    &::before{
      content: "";
      background: $green_theme;
      width: 60px;
      height: 3px;
      display: block;
      margin: 0 auto 30px;
    }
  }
}
.bx_contact_info{
  div[class*="col"]{
    padding: 0;
  }
  h3{
    color: $green_theme;
    font-size: 15px;
    margin-bottom: 0;
    font-weight:700;
  }
  p{
    color: #929292;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
  }
  .icn_wrapper{
    width:67px;
    text-align: center;
    span{
      border: 2px solid $green_theme;
      display: block;
      height: 45px;
      width: 45px;
      line-height: 45px;
      text-align: center;
      margin: 0 auto;
      .svg-inline--fa{
        font-size: 20px;
        color: $green_theme;
      }
    }
  }
}
footer{
  background: $green_theme;
  padding: 80px 0 60px;
  color: $white;
  position: relative;
  .btn_up{
    color: $white;
    font-size: 23px;
    background: darken($green_theme, 10%);
    border:none;
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 0 13px;
    &:hover, &:focus{
      outline: none;
      box-shadow: none;
    }
    &:hover{
      background: $white;
      color: $green_theme;
    }
  }
  h2{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 26px;
    margin-bottom: 40px;
  }
  ul{
    margin-bottom: 40px;
    li{
      display: inline-block;
      padding: 0 10px;
      a{
        display: block;
        border: 2px solid $white;
        height: 45px;
        width: 45px;
        line-height: 45px;
        .svg-inline--fa{
          font-size: 20px;
          color: $white;
        }
        &:hover{
          background: $white;
          .svg-inline--fa{
            color: $green_theme;
          }
        }
      }
    }
  }
  p{
    font-size: 14px;
  }
}

section#contact {
  background: #f2f5ef;
  .bx_title{
    text-align: center;
    h2::after {
      content: "";
      background: $green_theme;
      width: 100px;
      height: 3px;
      display: block;
      margin: 20px auto 0;
    }
  }
}

.iv_bx_filter{
  background: $gray_dark;
  padding: 30px 0;
  &--content{
    justify-content: space-between;
    background: #505050;
    padding: 20px 30px;
    .form-group{
      width: 30%;
      &:nth-of-type(n+3){
        width: 13%;
      }
      .form-control{
        width: 100%;
        height: auto !important;
        min-height: 39px;
      }
    }
    button[type="submit"]{
      cursor: pointer;
      .svg-inline--fa{
        margin-right: 5px;
      }
    }
  }
}

.iv_xts{
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  margin-bottom: 35px;
  &_hd{
    position: relative;
    height: 262px;
    width: 100%;
    overflow: hidden;
    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 50%;
      z-index: 2;
      background: linear-gradient(to bottom, rgba($black,0.0), rgba($black,0.7));
    }
    img{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      @extend %img-cover;
    }
    span{
      position: absolute;
      bottom: 5px;
      z-index: 3;
      color: $white;
      &.iv_xts_price{
        font-size: 16px;
        font-weight: bold;
        left: 15px;
      }
      &.iv_xts_tag{
        font-size: 12px;
        font-weight: 300;
        right: 15px;
        text-transform: uppercase;
      }
    }
  }
  &_content {
    border: 1px solid #e4e4e4;
    padding: 15px 0 0;
    border-radius: 0 0 8px 8px;
    &_top{
      padding: 5px 20px;
      h3{
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        height: 64px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
      }
      span{
        color: #bfbfbf;
        font-size: 14px;
        margin-bottom: 20px;
        display: block;
      }
      ul{
        display: block;
        text-align: left;
        li{
          display: inline-block;
          font-size: 14px;
          color: $black;
          //padding: 0 6px;
          line-height: 1;
          margin-bottom: 7px;
          position: relative;
          &::after{
            content: '|';
            display: inline-block;
            color: $gray_light_primary;
            margin: 0 7px;
          }
        }
      }
    }
    &_ftr{
     border-top: 1px solid #e4e4e4;
      padding: 10px;
      display: flex;
      align-items: center;
      margin: 0 20px;
      .ftr_left{
        width: 50%;
        text-align: left;
        a{
          background: #ebebeb;
          width: 30px;
          display: inline-block;
          height: 30px;
          line-height: 30px;
          text-align: center;
          border-radius: 50%;
          color: #000;
          &:hover{
            background: $black;
            color: $white
          }
        }
      }
      .ftr_right{
        width: 50%;
        text-align: right;
        p{
          margin-bottom: 0;
          font-size: 14px;
          color: $gray_light_primary;
        }
      }
    }
  }
}
form.frm_search.form-inline{
  .form-group, .input-group{
    width: 100%;
  }
}
.ere-agent span {
  font-weight: 400;
  color: #5d9532;
  margin-top: 5px;
  display: block;
}

.ere-agent.agent-grid .agent-social, .ere-agent.agent-slider .agent-social{
  background: $defaul_gradient !important;
  cursor: pointer;
  a{
    color: $white;
  }
  &:hover{
    background: $green_theme_primary !important;
  }
}

.owl-stage{
  display: block;
  margin: 0 auto;
}

.single-agent-element.agent-single.container {
  padding: 30px 20px;
  background: #f1f0f0;
  border-radius: 20px;
  margin-top: 40px;
}
.agent-contact.agent-info{
  hr{
    border-top: 1px solid #cecece;
  }
}

.ere-heading-style2 h2:after{
  background-color:  $green_theme !important;
}

.btn.btn-primary{
  background: $green_theme;
  color: $white;
  font-size: 14px;
  border: none;
  box-shadow: none;
  padding: 10px 20px;
  border-radius: 0;
  &:hover{
    outline: none;
    box-shadow: none;
    background: darken($green_theme, 10%);
  }
}

.ere-package-wrap{
  div.ere-heading{
    h2{
      font-size: 24px;
      text-transform: inherit;
      color: #a7c039;
      &::after{
        display: none;
      }
    }
    p{
      font-size: 15px;
      margin: 18px 0 34px;
      text-align: center;
    }
  }
  .bx-card{
    background: $pink_gradient !important;
    span{
      background: $defaul_gradient !important;
      border: none !important;
      color: $white !important;
    }
    h3.ere-package-price {
      color: $white;
    }
    .list-group{
      li.list-group-item{
        color: $white;
        background-color: transparent;
        &.ere-package-choose {
          margin-top: 20px;
          border: none !important;
        }
      }
    }
  }
}


.b-a {
  transition: all .25s;
  content: "";
  position: absolute;
  right: 0;
  height: 3px;
  width: 26px;
  background-color: $gray-light;
}
.menu-collapsed {
  transition: all .25s;
  position: fixed;
  top: 10px;
  right: 9px;
  height: 36px;
  width: 36px;
  z-index: 1;
  cursor: pointer;
  ul {
    transition: all 0s;
    position: fixed;
    right: -9000px;
  }
  &::after{
    content: "";
    background: $defaul_gradient;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: 4px;
    right: 3px;
  }
  &.menu-expanded{
    &::after{
      display: none;
    }
  }
}
.bar {
  @extend .b-a;
  position: fixed;
  right: 24px;
  top: 37px;
  z-index: 2;
  span{
    position: absolute;
    right: -48px;
    top: -7px;
    font-size: 12px;
    color: $gray-light;
    text-transform: uppercase;
    font-weight: 700;
  }
  &:before {
    @extend .b-a;
    top: -8px;
  }
  &:after {
    @extend .b-a;
    top: 8px;
  }
}
.b-a-expanded {
  transition: all .25s;
  top: -0px;
}
.menu-expanded {
  transition: all .25s;
  text-align: center;
  line-height:1;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.85);
  ul {
    transition: all 0s;
    position: relative;
    right: 0;
    z-index: 2;
    padding-top: 85px;
  }
  a {
    transition: all .15s;
    text-decoration: none;
    font-size: 18px;
    padding: 20px 15px;
    color: #fff;
    display:block;
    &:hover {
      background-color:transparent;
      transition: all .15s;
      letter-spacing: 2px;
      color:$green-theme;
      border: none;
      outline: none;
    }
  }
  .bar {
    background-color: transparent;
    transition: all .25s;
    &:before {
      @extend .b-a-expanded;
      transform: rotate(45deg);
    }
    &:after {
      @extend .b-a-expanded;
      transform: rotate(-45deg);
    }
    span{
      top: -4px;
    }
  }
}

header{
  position: relative;
  z-index: 999999999;
}
.ere-property-multi-step{
  select.form-control {
    height: auto !important;
  }
}

.property-info-action .property-action .property-action-inner>a, .property-info-action .property-action .social-share{
  line-height: 40px;
  &:hover{
    background: $green_theme !important;
    color: $white !important;
  }
}
.single-property-area .single-property-image-main .owl-prev{
  line-height: 50px;
  .svg-inline--fa{
    font-size: 21px;
  }
}
.single-property-area .single-property-image-main .owl-next{
  line-height: 50px;
  background-color: $green_theme !important;
  .svg-inline--fa{
    color: $white;
    font-size: 21px;
  }
  &:after {
    border-bottom-color: $green_theme !important;
  }
}

.single-property-area .property-tab .nav-tabs li.active a, .single-property-area .property-tab .nav-tabs li:hover a{
  background-color: $green_theme !important;
}

.property-info-action .property-action, .property-info-action .property-info {
  padding: 10px 20px !important;
}

.single-property-element.property-info-footer{
  .ere-property-element{
    span{
      margin: 0 6px;
    }
  }
}

.ere-agent h2 a:hover{
  color: $green_theme !important;
}

.list-annonce{
  cursor: pointer;
  img{
    transition: .3s ease-in-out;
  }
  &:hover{
    img{
      transform: scale(1.015);
    }
  }
}

.ere-agent-wrap{
  padding-bottom: 89px;
}